################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/mod-lab05-gen/FileContentIndex/f3f17219-3387-4df9-be8d-789ab732ecc4.vsidx
